Repository LikeLion-Hongik-13th-Backend/Session, pull requests merged in 2025-09, with the labels that each got.

#18 [Feat] 5주차 API 추가 완료
  week5/gwanghwi/homework/homework/.gradle/8.13/checksums/checksums.lock
  week5/gwanghwi/homework/homework/.gradle/8.13/executionHistory/executionHistory.bin
  week5/gwanghwi/homework/homework/.gradle/8.13/executionHistory/executionHistory.lock
  week5/gwanghwi/homework/homework/.gradle/8.13/fileChanges/last-build.bin
  week5/gwanghwi/homework/homework/.gradle/8.13/fileHashes/fileHashes.bin
  week5/gwanghwi/homework/homework/.gradle/8.13/fileHashes/fileHashes.lock
  week5/gwanghwi/homework/homework/.gradle/8.13/fileHashes/resourceHashesCache.bin
  week5/gwanghwi/homework/homework/.gradle/8.13/gc.properties
  week5/gwanghwi/homework/homework/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  week5/gwanghwi/homework/homework/.gradle/buildOutputCleanup/cache.properties
  week5/gwanghwi/homework/homework/.gradle/buildOutputCleanup/outputFiles.bin
  week5/gwanghwi/homework/homework/.gradle/file-system.probe
  week5/gwanghwi/homework/homework/.gradle/vcs-1/gc.properties
  week5/gwanghwi/homework/homework/.idea/.gitignore
  week5/gwanghwi/homework/homework/.idea/compiler.xml
  week5/gwanghwi/homework/homework/.idea/gradle.xml
  week5/gwanghwi/homework/homework/.idea/misc.xml
  week5/gwanghwi/homework/homework/.idea/modules.xml
  week5/gwanghwi/homework/homework/.idea/modules/homework.main.iml
  week5/gwanghwi/homework/homework/HELP.md
  week5/gwanghwi/homework/homework/build/reports/problems/problems-report.html
  week5/gwanghwi/homework/homework/build/reports/tests/test/classes/org.spring.homework.HomeworkApplicationTests.html
  week5/gwanghwi/homework/homework/build/reports/tests/test/css/base-style.css
  week5/gwanghwi/homework/homework/build/reports/tests/test/css/style.css
  week5/gwanghwi/homework/homework/build/reports/tests/test/index.html
  week5/gwanghwi/homework/homework/build/reports/tests/test/js/report.js
  week5/gwanghwi/homework/homework/build/reports/tests/test/packages/org.spring.homework.html
  week5/gwanghwi/homework/homework/build/resolvedMainClassName
  week5/gwanghwi/homework/homework/build/resources/main/application.yml
  week5/gwanghwi/homework/homework/build/test-results/test/TEST-org.spring.homework.HomeworkApplicationTests.xml
  week5/gwanghwi/homework/homework/build/test-results/test/binary/output.bin
  week5/gwanghwi/homework/homework/build/test-results/test/binary/output.bin.idx
  week5/gwanghwi/homework/homework/build/test-results/test/binary/results.bin
  week5/gwanghwi/homework/homework/build/tmp/bootJar/MANIFEST.MF
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/Like$LikeBuilder.class.uniqueId5
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/Like.class.uniqueId2
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/LikeController.class.uniqueId1
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/LikeRepository.class.uniqueId6
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/LikeRequestDto.class.uniqueId4
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/LikeResponseDto.class.uniqueId3
  week5/gwanghwi/homework/homework/build/tmp/compileJava/compileTransaction/stash-dir/LikeService.class.uniqueId0
  week5/gwanghwi/homework/homework/build/tmp/compileJava/previous-compilation-data.bin
  week5/gwanghwi/homework/homework/build/tmp/compileTestJava/previous-compilation-data.bin
  week5/gwanghwi/homework/homework/build/tmp/jar/MANIFEST.MF
Labels: Week5

#23 [Feat] Week6 쇼핑몰 과제
  week6/gwanghwijimin/shopping_mall/.gitattributes
  week6/gwanghwijimin/shopping_mall/.gitignore
  week6/gwanghwijimin/shopping_mall/HELP.md
  week6/gwanghwijimin/shopping_mall/build.gradle
  week6/gwanghwijimin/shopping_mall/gradle/wrapper/gradle-wrapper.jar
  week6/gwanghwijimin/shopping_mall/gradle/wrapper/gradle-wrapper.properties
  week6/gwanghwijimin/shopping_mall/gradlew
  week6/gwanghwijimin/shopping_mall/gradlew.bat
  week6/gwanghwijimin/shopping_mall/settings.gradle
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/ShoppingMallApplication.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/config/CorsConfig.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/config/SecurityConfig.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/controller/CartController.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/controller/HomeController.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/controller/KakaoLoginController.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/controller/ProductController.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/controller/UserController.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/UserDTO.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/request/AddToCartRequest.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/request/UserRequest.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/AddToCartResponse.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/CartItemResponse.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/CartResponse.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/CommonResponse.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/ProductListResponseDto.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/ProductResponseDto.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/dto/response/UserResponse.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/entity/Cart.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/entity/CartItem.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/entity/Product.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/entity/RefreshToken.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/entity/User.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/jwt/JWTFilter.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/jwt/JWTUtil.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/repository/CartItemRepository.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/repository/CartRepository.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/repository/ProductRepository.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/repository/RefreshTokenRepository.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/repository/UserRepository.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/service/AuthService.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/service/CartService.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/service/ProductService.java
  week6/gwanghwijimin/shopping_mall/src/main/java/likelion/shopping_mall/service/UserService.java
  week6/gwanghwijimin/shopping_mall/src/main/resources/application.properties
  week6/gwanghwijimin/shopping_mall/src/main/resources/application.yml
  week6/gwanghwijimin/shopping_mall/src/test/java/likelion/shopping_mall/ShoppingMallApplicationTests.java
Labels: Week6

#31 [Feat] 2nd week1 과제 제출
  2nd/week1/taewoo/jpashop/.DS_Store
  2nd/week1/taewoo/jpashop/.gitattributes
  2nd/week1/taewoo/jpashop/.gitignore
  2nd/week1/taewoo/jpashop/build.gradle
  2nd/week1/taewoo/jpashop/gradle/wrapper/gradle-wrapper.jar
  2nd/week1/taewoo/jpashop/gradle/wrapper/gradle-wrapper.properties
  2nd/week1/taewoo/jpashop/gradlew
  2nd/week1/taewoo/jpashop/gradlew.bat
  2nd/week1/taewoo/jpashop/settings.gradle
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/HelloController.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/JpashopApplication.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/Address.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/Category.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/Delivery.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/DeliveryStatus.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/Member.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/Order.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/OrderItem.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/OrderStatus.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/item/Album.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/item/Book.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/item/Item.java
  2nd/week1/taewoo/jpashop/src/main/java/jpabook/jpashop/domain/item/Movie.java
  2nd/week1/taewoo/jpashop/src/main/resources/application.yml
  2nd/week1/taewoo/jpashop/src/main/resources/static/index.html
  2nd/week1/taewoo/jpashop/src/main/resources/templates/hello.html
  2nd/week1/taewoo/jpashop/src/test/java/jpabook/jpashop/JpashopApplicationTests.java
  2nd/week1/taewoo/jpashop/src/test/java/jpabook/jpashop/MemberRepositoryTest.java
Labels: 2nd_Week1

#34 [Feat] 2학기 2주차 과제 제출
  2nd/week2/woohyeok/jpashop/.gitattributes
  2nd/week2/woohyeok/jpashop/.gitignore
  2nd/week2/woohyeok/jpashop/build.gradle
  2nd/week2/woohyeok/jpashop/gradle/wrapper/gradle-wrapper.jar
  2nd/week2/woohyeok/jpashop/gradle/wrapper/gradle-wrapper.properties
  2nd/week2/woohyeok/jpashop/gradlew
  2nd/week2/woohyeok/jpashop/gradlew.bat
  2nd/week2/woohyeok/jpashop/settings.gradle
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/Hello.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/HelloController.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/JpashopApplication.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/Address.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/Category.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/Delivery.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/DeliveryStatus.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/Member.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/Order.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/OrderItem.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/OrderStatus.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/item/Album.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/item/Book.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/item/Item.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/domain/item/Movie.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/exception/NotEnoughStockException.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/repository/ItemRepository.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/repository/MemberRepository.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/service/ItemService.java
  2nd/week2/woohyeok/jpashop/src/main/java/jpabook/jpashop/service/MemberService.java
  2nd/week2/woohyeok/jpashop/src/main/resources/application.yml
  2nd/week2/woohyeok/jpashop/src/main/resources/static/index.html
  2nd/week2/woohyeok/jpashop/src/main/resources/templates/hello.html
  2nd/week2/woohyeok/jpashop/src/test/java/jpabook/jpashop/JpashopApplicationTests.java
  2nd/week2/woohyeok/jpashop/src/test/java/jpabook/jpashop/service/MemberServiceTest.java
  2nd/week2/woohyeok/jpashop/src/test/resources/application.yml
Labels: 2nd_Week2

#33 [Feat] 2주차 실습 코드
  2nd/week2/gwanghwi/jpashop/.gitattributes
  2nd/week2/gwanghwi/jpashop/.gitignore
  2nd/week2/gwanghwi/jpashop/build.gradle
  2nd/week2/gwanghwi/jpashop/gradle/wrapper/gradle-wrapper.jar
  2nd/week2/gwanghwi/jpashop/gradle/wrapper/gradle-wrapper.properties
  2nd/week2/gwanghwi/jpashop/gradlew
  2nd/week2/gwanghwi/jpashop/gradlew.bat
  2nd/week2/gwanghwi/jpashop/settings.gradle
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/Hello.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/HelloController.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/JpashopApplication.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/Address.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/Category.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/Delivery.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/DeliveryStatus.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/Member.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/Order.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/OrderItem.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/OrderStatus.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/item/Album.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/item/Book.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/item/Item.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/domain/item/Movie.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/exception/NotEnoughStockException.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/repository/ItemRepository.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/repository/MemberRepository.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/service/ItemService.java
  2nd/week2/gwanghwi/jpashop/src/main/java/jpabook/jpashop/service/MemberService.java
  2nd/week2/gwanghwi/jpashop/src/main/resources/application.properties
  2nd/week2/gwanghwi/jpashop/src/main/resources/application.yml
  2nd/week2/gwanghwi/jpashop/src/main/resources/static/hello.html
  2nd/week2/gwanghwi/jpashop/src/main/resources/templates/hello.html
  2nd/week2/gwanghwi/jpashop/src/test/java/jpabook/jpashop/JpashopApplicationTests.java
  2nd/week2/gwanghwi/jpashop/src/test/java/jpabook/jpashop/service/MemberServiceTest.java
  2nd/week2/gwanghwi/jpashop/src/test/java/resources/application.yml
Labels: 2nd_Week2
